@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
 font-family: 'Poppins', sans-serif;
 width: 100%;
 padding: 0px;
}

.hero {
 position: relative;
}

.banner_img {
 height: 710px;
 width: 100%;
 mask-image: linear-gradient(to right, transparent, black 75%);
 -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero_caption {
 position: absolute;
 width: 100%;
 padding-left: 6%;
 bottom: 0;
 color: white;
 text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero_caption p{
 max-width: 700px;
 font-size: 17px;
 margin-bottom: 20px;
}
.hero-btns{
display: flex;
gap: 10px;
margin-bottom:70px;

}
.hero-btns .btn img{
 width: 25px;
}
.hero-btns .btn{
 border: 0;
 outline: 0;
 padding: 8px 20px;
 display: inline-flex;
 align-items: center;
 gap: 10px;
 font-size: 15px;
 font-weight: 600px;
 background:white;
 border-radius: 4px;
 cursor: pointer;
}
.hero-btns .btn:hover{
 background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover{
 background:#ffffffbf ;
}
.more-cards{
 padding-left: 6%;
}
@media(max-width:1024px){
 .titile-cards {
  display: none;
 }
 .hero-btns{
  margin-bottom: 30px;
 }
}
@media(max-width:800px){
 .hero_caption{
  padding-left:4%;
  margin-bottom: 50px;

 }
 /* .hero_caption img{
  margin-bottom: 10px;
  width: 40%;
 } */
 .hero_caption p{
  font-size: 12px;
  margin-bottom:10px ;
 }
 .btn{
  width: 100px;
  height: 40px;
 }
 .more-cards{
  padding-left: 4%;
 }

}
